h1 {
	color: #FEFCFD;
}

ul {
    border-radius: 5px;
    list-style-type: none;
    /* border: 2px solid #955E42; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF570A;
}

.body {
    background-color: #232020;
}

a.left {
    float: left;
}

a.right {
    float: right;
}

li a {
    display: block;
    color: #FEFCFD;
    border-right: 1px solid #553739;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #553739;
}
