<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/css/login_register.css">
        <link rel="stylesheet" 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
            crossorigin="anonymous">
    </head>
    <body class="body">
        <div class="main">
            <h1>Register</h1>
            
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="enter_field">
                        {{ form.nickname.label }}<br>
                        {{ form.nickname }}<br>
                    </p>
                    <div class="fields">
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email }}<br>
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password }}<br>
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.repeat_password.label }}<br>
                        {{ form.repeat_password }}<br>
                        {% for error in form.repeat_password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                </div>
                <div class="message">{{ message }}</div>
                <p class="button">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            </form>

        </div>  
    </body>